.container {
    background: bisque;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 20px 0;
    max-width: 1440px;
    margin: auto;
}

.userEmail {
    cursor: pointer;
}