.container {
    background: #e7dec9;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 10px 0;
    max-width: 1440px;
    margin: auto;
}

.userEmail {
    cursor: pointer;
}